:host div{
width:24px;
height:24px;
border:1px solid black;
text-align: center;
vertical-align: middle;
}

div:hover{
  color:white;
background-color:gray;
}
div:active{
  color:black;
background-color:lightcoral;
}